{% extends "layout/base.html" %}

{% block 'title' %}
Gender List
{% endblock 'title' %}

{% block 'content' %}

{% include "include/Sidebar.html" %}
{% include "include/ToastMessage.html" %}

<div class="p-2 sm:ml-64 mt-16 md:mt-14">
    <div class="mb-4">
        <form action="/gender/list" class="flex gap-2" mathod="GET">
          <input type="text" name="search" value="{{ search_query }}" placeholder="Search..." class="bg-white px-3 py-2 border border-gray-300 text-black text-sm rounded-sm w-full focus:outline-none focus:ring-blue-600 focus:border-blue-600">
          <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-sm text-sm">Search</button>  
          {% if search_query %}
            <a href="/gender/list" class="bg-gray-500 hover:bg-gray-600 text-white px-4 py-2 rounded-sm text-sm">Clear</a>
          {% endif %}
            
        </form>
    </div>
    <div class="relative overflow-x-auto rounded-sm shadow-sm">
        <table class="w-full">
            <thead class="text-xs text-left text-white bg-blue-600">
                <tr>
                    <th class="px-6 py-3">Gender</th>
                    <th class="px-6 py-3">Action</th>
                </tr>
            </thead>
            <tbody class="text-xs text-black">
                {% for gender in genders %}
                    <tr class="hover:bg-gray-100 border-b border-gray-200">
                        <td class="px-6 py-3">{{ gender.gender }}</td>
                        <td class="px-6 py-3">
                        <div class="inline-flex shadow-sm">
                            <a href="/gender/edit/{{ gender.gender_id }}" class="bg-green-600 px-3 py-2.5 font-medium text-white rounded-s-sm hover:bg-green-700 hover:outline-none">Edit</a>
                            <a href="/gender/delete/{{ gender.gender_id }}" class="bg-red-600 px-3 py-2.5 font-medium text-white rounded-e-sm hover:bg-red-700 hover:outline-none">Delete</a>
                        </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>  
</div>
{% endblock 'content' %}